# Custom

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# Logs
logs/
*.log

# COME BACK TO THIS ON DEPLOYMENT
youtubedl-ffm/